/*AQUI INICIA EL ESTILO DE HEADDER*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 100%;
    position: sticky;
    top: 0; /* Se pega en la parte superior cuando llegamos a esa posición */
}

.header_izq{
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.header_izq a{
    text-decoration: none; /*fue para quitar el subrayado al hipervinculo*/
    font-size: 13px;
    color: black;
    font-weight: bolder;
    margin-left: 11px;
    margin-top: 1;
}

.header_izq a:hover{
    color: rgb(1, 110, 61);
}

.header_izq img{
    width: 57px;
    height: 57px;
    margin-left: -3px;
    margin-bottom: 8px;
    cursor: pointer;
}

.header_izq p{
    margin-left: 15px;
    text-transform: uppercase;
}

.header_der{
    display: flex;
    align-items: center;
    margin-right: 90px;
    position: relative;
    left: -5px;
    padding: 30px;
}

.header_der div p{
    margin: 0 10px;
    flex-wrap: wrap;
    margin-top: 7px;
    font-weight:bolder;
    font-size: 13px;
    cursor: pointer;
    text-transform:uppercase /*fue para cambiar de minusculas a mayusculas*/
/*Preguntar en clase como hacer para que las letras no se desaparezcan si hago mas pequeña la pagina*/
}

.header_der div{
    display: flex;
    margin-right: 35px;
}

.header_der img{
    width: 18px;
    height: 22px;
    margin-bottom: 14px;
    cursor: pointer;
    position: relative;
    left: -1px;
}

.header_der button{
    height: 33px;
    width: 110px;
    border:none;
    border-radius: 17px;
    padding: 6px 12px;
    border: 1px solid black;
    font-weight: bold;
    margin: 3px;
    position: relative;
    right: 20px;
}

#button_izq{
    background-color: transparent;
    color: black;
}

#button_izq:hover{
    background-color: rgb(238, 237, 237);
    cursor: pointer;
}

#button_der{
    background-color:black;
    color: white;
}

#button_der:hover{
    background-color: rgb(45, 43, 43);
    cursor: pointer;
}

/*AQUI INICIA EL ESTILO DE MAIN*/

/*Div izquierdo "Café gratis" parte fija*/
main{
    background-color: rebeccapurple;
    width: 100%;
    height: 100vh; /* "vh" significa la vista de mi ventana*/
    display: flex;
}

.main_izq{
    height: 100%;
    width: 43%;
    background: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%); /*con la pagina cssgradient.io hicimos el degradado*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    /*  position: fixed; INTENTAR PROMERO AGREGAR MAS BENEFICIOS PARA VER SI FUNCIONARÁ
    left: 0;  Se pega en la parte superior cuando llegamos a esa posición*/
}

.mano{
    position: static;
    bottom: 0px;
    right: 0px;
}

.main_izq img{
    height: 100px
}

.main_izq p{
    font-size: 33px;
    font-weight:normal;
    color: white;
    display: flex;
    margin: 20px;
    position: relative;
    right: 35px;
}

.main_izq button{
    font-size: 13px;
    font-weight: lighter;
    color: white;
    display: flex;
    margin: 10px;
    display: inline;
    height: 35px;
    width: 113px;
    border-radius: 17px;
    padding: 2px 8px;
    border: 1.5px solid white;
    font-weight: bold;
    margin: 25px;
    position: relative;
    right: 20px;
    cursor: pointer;
}

#main_button_izq{
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
    bottom: 14px;
}

#main_button_izq:hover{
    border-color: rgb(27, 115, 43);
    background-color: transparent;
    color: rgb(27, 115, 43);
}

#main_button_der{
    background-color: white;
    color: white;
    border: 1.5px solid white;
    color: black;
    bottom: 14px;
}

#main_button_der:hover{
    background-color: white;
}

/*Div derecho "beneficios y mas"*/

main .main_der{
    height: 100vh;
    width: 60%;
    padding-top: 40px;
    padding-left: 85px;
    padding-right: 85px;
    background-color: white;
    letter-spacing: 1px;
    position: fixed;
    right: 0px;
}

/*en la pagina de starbucks tenia "box-sizing: border-box;" no se por que 
y esto yo se lo quité "display: flex;" y "flex-wrap: wrap;"*/

/*aqui edito texto de los cuadros de los beneficios*/
.main_der div{
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.main_der p{
    font-size: 21px;
    text-align: center;
}

.negritas{
    font-weight: bold;
}

.main_der div img{
    display: flex;
    justify-content: center;
    width: 130px;
}

.main_der div p{
    display: flex;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    font-weight:lighter;
    width: 150px;
    padding: 6px;
}

.main_der div div{
    display: inline-block;
}
